{% load static %}




<footer class="footer-5 ">

    <div class="footer-cta-wrapper">
        <div class="container pb-4">
            <div class="footer-cta-bg-wrapper">
                <div class="row justify-content-around align-items-center p-0">
                    <div class="col-lg-7 col-md-7 col-12">
                        <div class="footer-middle-text text-white">
                            <h5>GET IN TOUCH</h5>
                            <h2>Get Your Right Solution, Contact Now With Us.</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 ps-lg-0 col-12">
                        <div class="footer-btn d-flex justify-content-end align-items-center">
                            <div class="btn-wepper ">
                                <a href="{% url 'contact-us' %}" class="theme-btns">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="footer-widgets-wrapper text-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-xl-4 col-12">
                    <div class="footer-site-info">
                        <a href="index-5.html"><img src="assets/img/logo-footer_05.png" alt="busico"></a>
                        <p class="pt-35 pb-35">Contrary to popular belief, Lorem Ipsum is not simply random text it has
                            roots in a piece of classical Latin literature from 45 BC, making it over.</p>
                        <div class="footer-social-icon text-lg-md-end">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-3 col-xl-2 pl-xl-5 offset-xl-1">
                    <div class="single-footer-wid">
                        <div class="wid-title">
                            <h3>USEFUL LINKS</h3>
                        </div>
                        <ul>
                            <li><a href="about.html">About Our Company</a></li>
                            <li><a href="services.html">Why Choose Us</a></li>
                            <li><a href="services.html">Team Members</a></li>
                            <li><a href="services.html">Working Process</a></li>
                            <li><a href="contact.html">Blog Post</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-2 col-12 col-md-3">
                    <div class="single-footer-wid">
                        <div class="wid-title">
                            <h3>IT Solutions</h3>
                        </div>
                        <ul>
                            <li><a href="about.html">Software Development</a></li>
                            <li><a href="services.html">Web Development</a></li>
                            <li><a href="services.html">IT Management</a></li>
                            <li><a href="services.html">Analytic Solutions</a></li>
                            <li><a href="contact.html">Case Studies</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-3 col-12 ps-xl-5 col-md-6">
                    <div class="single-footer-contact single-footer-wid newsletter_widget style-2">
                        <div class="wid-title">
                            <h3>Contact Info</h3>
                        </div>
                        <div class="contant-footer">
                            <div class="call d-flex align-items-start">
                                <div class="icon"><img src="assets/img/home5/call.svg" alt></div>
                                <div class=" ms-4 call-num">
                                    <p>+673 853 605 985</p>
                                    <p>+555 202 307 895</p>
                                </div>
                            </div>
                            <div class="email d-flex align-items-start">
                                <div class="icon"><i class="fal fa-envelope"></i></div>
                                <div class=" ms-4 call-num">
                                    <p>info@example.com</p>
                                    <p>info@ershahidnabi.com</p>
                                </div>
                            </div>
                            <div class="location d-flex align-items-start">
                                <div class="icon"><i class="fal fa-map-marker-alt"></i></div>
                                <div class="ms-4 call-num mt-0">
                                    <p>7300-7398 Colonial Rd, <br> Brooklyn, NY 11209</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="footer-bottom">
        <div class="container">
            <hr>
            <div class="row align-items-center py-4">
                <div class="col-md-6 col-12 text-center text-md-start">
                    <div class="copyright-info">
                        <p>© 2024 Copyright By <a href="index.html">ERShahidNabi</a>. All Rights Reserved</p>
                    </div>
                </div>
                <div class="col-md-6 col-12 text-center">
                    <div class="footer-menu footer-menu-3 mt-3 mt-md-0 text-md-end">
                        <ul>
                            <li><a href="#">Teams & Conditions </a></li>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>